<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <connectionStrings>
		<add name="EntitiesContext-"
            connectionString="Data Source=srv-nav;Initial Catalog=ITCLPresencia;User ID=sa;Password=localadmin;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="EntitiesContext"
            connectionString="Data Source=srvbu-bd\SQL2019;Initial Catalog=ITCL_Presencia;User ID=itclpresencia;Password=presencia;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>